body {
    background: url('./pictures/background.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.image-container {
    position: relative;
    width: 100%; 
    height: 100%; 
}

.profile-img {image-rendering: pixelated;
    height: 400px;
    transform: translate(0%, 30%);
  }
.enemy-img {image-rendering: pixelated;
    height: 400px;
    transform: translate(0%, 10%);
  }
/* Container for the entire Pokemon profile */
.pokemon-profile-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-top: 20vh;
  }
.pokemon-enemy-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-top: 25vh;

  }
  
  /* Left section containing Pokemon data and buttons */
  .pokemon-data {
    flex: 1;
    margin-right: 20px;
    font-size: 20px;
    color: rgb(1, 1, 1);
    background-color: rgb(255, 255, 255, 0.5);
  }
  .enemy-data {
    flex: 1;
    margin-right: 20px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: #898990;
background-image: linear-gradient(43deg, #898990 0%, #bf3b5e 40%, #f91010 100%);

  }
  
  /* Right section containing the Pokemon image */
  .pokemon-image {
    flex: 1;
  }
  .enemy-image {
    flex: 1;
  }
  
  /* Style for the input field */
  .input-field {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
  }
  
  /* Style for the buttons */
  .button {
    margin-right: 10px;
  }

  .heart {
    position: absolute;
    top: 0;
    left: 100;
    width: 100px;
    height: auto;
  }

  .pickOurPokemon {
    background-color: rgb(255, 255, 255, 0.5);
    max-width: 40vh;
  }

  .ourPokemonContainer {
    display: flex;
    justify-content: center;
  }

  .ourPokeSelect {
    image-rendering: pixelated;
    height: 100px;
    transform: translate(0%, 0%);
    padding: 30px;
  }

  .fightingEnemy {
    image-rendering: pixelated;
    height: 300px;
    transform: translate(0%, 0%);
    padding: 30px;
  }

  .fightingOur {
    image-rendering: pixelated;
    height: 300px;
    transform: translate(0%, 0%);
    padding: 30px;
  }

  .fightName{
    width: 10vw;
    font-size: 16px;
    color: rgb(1, 1, 1);
    border: 1px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255, 0.8);
  }

  .endScene{
    flex: 1;
    margin: 1px;
    padding: 20%;
    font-size: 20px;
    color: rgb(1, 1, 1);
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 7%;
  }
  /* Apply styles to the image */

  