body {
    background: url('./pictures/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.ranchPics {
    image-rendering: pixelated;
    height: 100px;
    transform: translate(0%, 30%);
}

/* Style for the buttons */
.button {
    margin-right: 10px;
}


.pokemon {
    position: absolute;

}


.pokemonNickname {
    width: 10vw;
    font-size: 16px;
    color: rgb(1, 1, 1);
    border: 1px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255, 0.5);
}

.pokemonList {
    max-height: 35vw;
    background-color: rgb(255, 255, 255, 0.5);
    overflow-y: scroll;
    width: 20vh;
}

.listedPokemon {
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.listedPokemonNickname {
    font-size: 20px;
    color: rgb(1, 1, 1);
    border: 1px;
    background-color: rgb(255, 255, 255, 0.5);
}


.ranch {
    display: flex;
    flex-direction: column;
    padding: 20px;
}



.pokemonContainer {
    flex: 1;
    width: 40vh;
    height: 40vh;
}

.buttonContainer {
    display: flex;
    flex: 1;
    max-width: 100;
    flex-direction: row;
    justify-content: space-between;
}

.showAll {
    width: 20vh;
}

.goFight {
    width: 20vh;
}